includes:
	- vendor/thewebsolver/cli/phpstan-common.neon
parameters:
	level: max
	bootstrapFiles:
		- vendor/thewebsolver/cli/bootstrap.php
	paths:
		- Src
		- cli-bootstrap.php
		- Tests
	ignoreErrors:
		-
			path: cli-bootstrap.php
			identifier: method.nonObject
			count: 1
		- # Always returns array of non-empty-list of resolved cards when exit on resolve is false.
			path: Src/Helper/CardResolver.php
			identifier: return.type
			count: 1
		- # All items of an array for property "cliResolveArguments" are eventually set inside loop.
			path: Src/Helper/CardResolver.php
			identifier: assign.propertyType
			count: 1
		- # Allow Mocked Card Type in test files.
			identifier: argument.type
			message: '#^Parameter \#5 \$current of class.*?CardFactoryStatus constructor.*?$#'
