includes:
	- vendor/thewebsolver/cli/phpstan-common.neon
parameters:
	level: max
	bootstrapFiles:
		- vendor/thewebsolver/cli/bootstrap.php
	paths:
		- Src
		- cli-bootstrap.php
		- Tests
	ignoreErrors:
		-
			path: cli-bootstrap.php
			identifier: method.nonObject
			count: 1
		- # Allow Mocked Card Type in test files.
			identifier: argument.type
			message: '#^Parameter \#5 \$current of class.*?CardResolved constructor.*?$#'
